{% extends "base.twig" %}

{% block title %}Dashboard - Spotify Playlist Export{% endblock %}

{% block content %}
	<div class="dashboard">
		<h1>Welcome, {{ user.display_name }}</h1>

		<h2>Your Playlists</h2>
		<ul class="playlist-list">
			{% for playlist in playlists %}
				<li class="playlist-item">
					{% if playlist.images|length > 0 %}
						<img class="playlist-cover"
							src="{{ playlist.images|last.url }}" 
							alt="{{ playlist.name }} cover">
					{% endif %}
					<span class="playlist-name">{{ playlist.name }}</span>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %} 